/.vs
/CareerSpotlightBackend/obj
/CareerSpotlightConsoleApp/obj
/CareerSpotlightBackend/bin
/CareerSpotlightConsoleApp/bin
/CareerSpotlightBackend/out
CareerSpotlightBackend/appsettings.Development.json
/CareerSpotlightApi/bin
/CareerSpotlightApi/obj
